body
{
    margin: 0 auto;
}
section.news
{
    height: 100%;
    background-color: #540D6E ;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 4%;
    padding-right: 4%;
}
h1
{
    font-family: 'gotham pro';
    font-size: 4rem;
    color: white;
    padding: 5rem;
    padding-top: 12rem;
    background-color: #540D6E;
    margin: 0;
}

.news h1
{
    font-family: 'gotham pro';
    font-size: 4rem;
    color: white;
    padding: 4rem;
}

.news .news_thumbnail
{
    width: 40rem;
    height: 50rem;
    background-color: #1B998B;
    margin-bottom: 4rem;
    border-radius: 5px;
}
.news .news_thumbnail:nth-child(even)
{
    width: 40rem;
    height: 50rem;
    background-color: #F9C80E;
    margin-bottom: 4rem;
    border-radius: 5px;
}
.news .news_thumbnail .news_img img
{
    width: 20rem;
    height: 20rem;
    margin: 0;
}
.news .news_thumbnail .news_img
{
    margin: 0;
    justify-content: space-around;
    display: flex;
    width: 100%;
}
.news .news_thumbnail h2
{
    font-family: 'gotham pro';
    color: white;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-right: 3rem;

}
.news .news_thumbnail p
{
    font-family: 'gotham pro';
    font-size: 1.8rem;
    color: white;
    padding-left: 2rem;
    padding-top: 0rem;
    padding-right: 3rem;

}
.news .news_thumbnail button
{
    font-family: 'gotham pro';
    font-size: 1.8rem;
    color: black;
    margin-left: 2rem;
    margin-top: 2rem;
    padding: 1.5rem;

}
