*
{
    /* Supprimer toutes les marges */
    padding: 0;
    margin: 0;
    /* Intégrer les padding et les border dans le bloc */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; /* CSS3 */
    font-family: "Muli", sans-serif;
}

/* Passeer d'une base 16 à une base 10 */
html
{
    font-size: 62.5%; /* => 1rem = 10px */
}

body
{
    font-size: 1.6rem;
    margin: auto;
    color:#484848;
}

a
{
    color: inherit;
}

a:not([target="_blank"])
{
    text-decoration: none;
}

img
{
    max-width: 100%;
}